<h1>Transaction Details</h1>
<mat-spinner *ngIf="loading"></mat-spinner>

<mat-card class="detail-card">
    <mat-card-header>
        <mat-card-title>{{transactionDetail?.otherParty?.name}}</mat-card-title>
        <mat-card-subtitle>{{transactionDetail?.otherParty?.iban}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>

        <mat-list role="list" *ngIf="transactionDetail">
            <mat-list-item role="listitem">
                <span matListItemTitle>Amount:</span><span>
                    {{ (transactionDetail.currencyCode === 'EUR'? transactionDetail.amount:
                    getCurrencyInEur(transactionDetail.amount,transactionDetail.currencyRate)) |
                    currency:'EUR' : 'symbol': '1.0-2' }}
                </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span matListItemTitle>Date:</span><span>{{transactionDetail.timestamp |
                    date:'medium'}}</span>

            </mat-list-item>
            <mat-list-item role="listitem">
                <span matListItemTitle>Description: </span>
                <span>{{transactionDetail.description}}</span></mat-list-item>
        </mat-list>
        <p></p>
    </mat-card-content>
</mat-card>