<div *ngFor="let dayRecords of transactionsList | keyvalue: keyValueMapSort ; let i = index">
    <mat-card>
        <mat-card-content>
            <div class="payments-row">
                <div class="date-container">
                    <span>{{dayRecords.key | date:'short'}}</span>
                </div>
                <div class="transactions">
                    <div *ngIf="dayRecords.value.length > 0">
                        <app-transactions [dayRecords]="dayRecords.value" [showHeader]="i===0"></app-transactions>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <br />
</div>