<h1>Transactions Timeline</h1>

<mat-spinner *ngIf="loading"></mat-spinner>

<div *ngFor="let dayRecords of transactionsList | keyvalue: recordsMapSortOrder ; let i = index">
    <mat-card>
        <mat-card-content>
            <div class="payments-row">
                <div class="date-container">
                    <span>{{dayRecords.key | date:'EEEE, MMMM d, y'}}</span>
                </div>
                <div class="transactions">
                    <div *ngIf="dayRecords.value.length > 0">
                        <app-transactions [dayRecords]="dayRecords.value" [showHeader]="i===0"
                            [datekey]="dayRecords.key"></app-transactions>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <br />
</div>