<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 transactions-table">

    <!-- Weight Column -->
    <ng-container matColumnDef="partyName">
        <th mat-header-cell *matHeaderCellDef [hidden]="!showHeader"> Party Name </th>
        <td mat-cell *matCellDef="let row"> {{row.otherParty?row.otherParty.name:'Unknown Merchant'}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef [hidden]="!showHeader"> Amount </th>
        <td mat-cell *matCellDef="let row">
            <span [ngClass]="row.amount > 0 ?'amount-positive':'amount-negative'">
                {{ (row?.currencyCode === 'EUR'? row.amount: getCurrencyInEur(row.amount,row.currencyRate)) |
                currency:'EUR' : 'symbol': '1.0-2' }}
            </span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnList" [hidden]="!showHeader"></tr>
    <tr mat-row (click)="onTransactionClick(row)" *matRowDef="let row; columns: columnList;"></tr>

</table>